@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<!-- Stack the columns on mobile by making one full-width and the other half-width -->
<div class="row" style="margin-bottom:5px;">
    <div class="col-12 col-md-4">
        <div class="main container rounded p-3" style="background:#adb5bd;">
            <h4 class="card-title">Метрики</h4>
            <form class="form-group mb-5" onsubmit="AddMetric(this, event);return false;">
                <div class="add-items  d-flex">
                    <input type="text" id="metric" class="form-control" placeholder="Определите метрику">
                    <button class="add btn btn-primary font-weight-bold">Добавить</button>
                </div>
            </form>


            <div class="cards">

            </div>

        </div>

    </div>
    <div class="col-12 col-md-8">

        <nav class="navbar navbar-expand-sm navbar-dark" style="background:#adb5bd;">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item" style="margin-right:10px;">
                    <label class="btn btn-primary" style="width:200px;cursor:pointer;">
                        <input name="uploadedFile" id="uploadedFile" type="file" style="display:none" value="">
                        Відобразити файл
                    </label>
                </li>
                <li class="nav-item">
                    <form onsubmit="SaveFile(this, event);return false;">
                        <input name="uploadedFile1" type="file" id="uploadedFile1" value="" visbility="hidden" style="display:none">
                        <input type="submit" class="btn btn-primary" style="width:200px;" value="Загрузить на сервер" />
                    </form>
                </li>
            </ul>
        </nav>

        <div class="alert alert-dark" role="alert">
            <p id="demo">Имя файла:<br>Размер файла: bytes <br></p>
        </div>


        <h5>Загруженный текст</h5>

        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">Текст</span>
            </div>
            <textarea id="infotext" class="form-control" rows="10" aria-label="Текст"></textarea>
        </div>

    </div>

</div>

<div class="row">
    <h5 class='mx-auto'>Анализ текста</h5>
    <div class="col-md-12">
        <nav class="navbar navbar-expand-sm navbar-dark" style="background:#adb5bd;">
            <ul class="navbar-nav">
                <li class="nav-item" style="margin-right:10px;margin-bottom:0.5rem;">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" style="min-width:310px;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Выбрать Тип анализа
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">Самый частый символ</a>
                            <a class="dropdown-item" href="#">Количество восклицательных предложений</a>
                            <a class="dropdown-item" href="#">Процент существительных слов в тексте</a>
                        </div>
                    </div>
                </li>
                <li class="nav-item" style="margin-right:10px;">
                    <button type="submit" class="btn btn-info" style="width:310px;">Отобразить статистику</button>
                </li>
            </ul>
        </nav>
    </div>
</div>






    @section scripts {


        <script>

        $(document).ready(function () {
            //   alert('a');
        });

        // Remove the default cards if cards are present in the localStorage object
        if (localStorage.cards) {
            $('.cards').children().remove();
            $('.cards').append(JSON.parse(localStorage.getItem('cards')));
        }

        // Delete the existing cards and add the new cards
        // Simpler than pushing/splicing an array
        const setStorage = () => {
            localStorage.removeItem('cards');
            localStorage.setItem('cards', JSON.stringify($('.cards').html()));
        };

        // Delete the selected card and update localStorage
        $('.cards').on('click', '#delete', () => {
            debugger
            $(event.target).offsetParent().remove();
            setStorage();
        });

        // Append new card on submit and update localStorage
        function AddMetric(form, event) {
            event.preventDefault();
            const metric = form.elements["metric"].value;

            if (metric) {
                const card = `
                <div class="card">
                  <div class="card-block">
                    <button id="delete" type="button" class="btn btn-link float-right">❌</button>
                    <p class="card-title lead">${metric}</p>
                  </div>
                </div>
              `;
                $('.cards').append(card);
                // Reset the form input field
                $('form').trigger('reset');
                setStorage();
            }
        };

        // Save File on server
        function SaveFile(form, event) {
            debugger
            event.preventDefault();
            const inputfile = form.elements["uploadedFile1"];

            if (inputfile.files && inputfile.files[0]) {
                var formData = new FormData();
                formData.append("files", inputfile.files[0]);
               // var _url = '@Url.Action("AddFile", "Home")';
                $.ajax(
                    {
                        url: "/Home/AddFile",
                        data: formData,
                        processData: false,
                        contentType: false,
                        type: "POST",
                        success: function (data) {
                            alert("Files Uploaded!");
                        }
                    });
            }
        };


        function readTextFile(file, callback, encoding) {
            var reader = new FileReader();
            reader.addEventListener('load', function (e) {
                callback(this.result);
            });
            if (encoding) reader.readAsText(file, encoding);
            else reader.readAsText(file);
        }

        function fileChosen(inputfile, output) {
            if (inputfile.files && inputfile.files[0]) {
                let txt = "";

                 if ('name' in inputfile.files[0]) {
                 txt += "Имя файла: " + inputfile.files[0].name + "<br>";
                 }

                 if ('size' in inputfile.files[0]) {
                 txt += "Размер файла: " + inputfile.files[0].size + " bytes <br>";
                 }
                document.getElementById("demo").innerHTML = txt;

                readTextFile(
                    inputfile.files[0],
                    function (str) {
                        output.value = str;
                    }
                );
            }
        }

        $('#uploadedFile').on('change', function () {
            debugger
            let uploadedFile1 = document.getElementById('uploadedFile1');
            uploadedFile1.files = this.files;

            fileChosen(this, document.getElementById('infotext'));
        });

         $(".dropdown-menu a ").click(function(){
           $(this).parents(".dropdown").find('.btn').text($(this).text());
         });

        </script>
    }





